.header{
  background-color: rgb(255, 255, 255);
  text-align: center;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 4%;
  text-decoration: none;
  position:relative;
  box-shadow: 0px 3px 0px 1px rgba(0,0,0,0.2);
}

.header a[class="icon"]{
  text-decoration: none;
  color: rgb(17, 1, 1);
  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header a[class="about"]{
  text-decoration: none;
  color: rgb(17, 7, 7);
  vertical-align: middle;
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
}

.Home{
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: visible;
}

.takeanote button{
  color: black;
  border: none;
  width: 40%;
  margin: 2px;
  border-radius: 5px;
  cursor: pointer;
}

.takeanote button:hover{
  box-shadow: 4px 2px 2px -1px rgba(113, 238, 81, 0.61);
}

.takeanote button:active{
  box-shadow: none;
}


.notetaker{
  display: flex;
  justify-content: center;
}

.takeanote,input,textarea{
  border-bottom: 1px soild black;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}


.takeanote,.notetaker{
  margin-top: 2%;
}



/* .notes{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 3%;
  transition:1s;
} */


.notes{
  display: grid;
  column-gap: 30px;
  row-gap: 20px;
  align-self: center;
}


.notes{
  display: grid;
  grid-template-areas: 
  'main main main'
  'main main main'
  ;
  column-gap: 30px;
  row-gap: 20px;
  align-self: center;
}

@media only screen and (max-width:700px) {
  .notes{
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1200px) {
  .notes{
   grid-template-areas: 
  'main main'
  'main main'
  'main main';
  
  }
}



.card{
    border-radius: 8px;
    padding-left: 2%;
    padding-right: 1%;
    width: 300px;
    word-wrap: break-word;
    height: fit-content;
    grid-area: "main";
}

.card-head{
    border-bottom: 0.4px dashed rgba(0, 0, 0, 0.562);
    color: #222121da;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    word-wrap: break-word;
    justify-content: space-between;
}


.footer{
  position: absolute;
  bottom: -100%;
  width: 100%;
  background-color: white;
  height:max-content;
  display: flex;
  justify-content: space-around;
  border-top: 2px solid rgba(0, 0, 0, 0.185);
  flex-wrap: wrap;
}


.footer div a{
  top:60%;
  position: absolute;
}

h2{
  font-weight:600;
  font-family: 'Times New Roman', Times, serif;
}

h5{
  font-weight: 200;
  font-size: small;
  
}
.card-body{
  font-size: smaller;
  font-family:'Courier New', Courier, monospace;
  font-weight: 200;
  word-wrap: break-word;
}

.nav{
  margin-top: 2%;
}